CompileFlags:
  Add:
    - -std=c++20
    - -DWIN32_LEAN_AND_MEAN
    - -DNOMINMAX
    - -DAQUA_DEBUG
    - -ID:/WinApplication/vulkan/Include
    - -ID:/WinApplication/glfw/glfw-3.4.bin.WIN64/include
    - -ICore
    - -IThirdParty
  Remove:
    - -W*

Diagnostics:
  ClangTidy:
    Add: [performance-*, readability-*, modernize-*]
    Remove: [readability-magic-numbers, readability-uppercase-literal-suffix]
  UnusedIncludes: Strict
  MissingIncludes: Strict

Index:
  Background: Build