CompileFlags:
  Add:
    - -std=c++17
    - -DWIN32_LEAN_AND_MEAN
    - -DNOMINMAX
    - -DAQUA_DEBUG
    - -DAQUA_VISUAL_VERSION_MAJOR=0
    - -DAQUA_VISUAL_VERSION_MINOR=1
    - -DAQUA_VISUAL_VERSION_PATCH=0
    - -ID:/WinApplication/vulkan/Include
    - -ID:/WinApplication/glfw/glfw-3.4.bin.WIN64/include
    - -IAquaVisual/Include
    - -IAquaCore/Include
    - -ICore
    - -IThirdParty
    - -IAquaVisual/Source
  Remove:
    - -W*

Diagnostics:
  ClangTidy:
    Add: [performance-*, readability-*, modernize-*]
    Remove: [readability-magic-numbers, readability-uppercase-literal-suffix]
  UnusedIncludes: Strict
  MissingIncludes: Strict

Index:
  Background: Build